.profile {
  max-width: 880px;
}

@media screen and (max-width: 907px) {
  .profile {
    max-width: 88%;
  }
}

.profile__wrapper {
  max-width: 880px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -26px;
}

@media screen and (max-width: 907px) {
  .profile__wrapper {
    max-width: 88%;
  }
}

@media screen and (max-width: 730px) {
  .profile__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile__wrapper {
    max-width: 282px;
  }
}
