.button-submit {
  background-color: #000;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: block;
  border: 0;
  border-radius: 2px;
  padding: 14px 125px;
  height: 11%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 528px) {
  .button-submit {
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}
