.avatar__edit {
  position: relative;
  width: 26px;
  height: 26px;
  z-index: 1;
  visibility: hidden;
  top: 47px;
  left: 47px;
}

.avatar__edit:hover {
  cursor: pointer;
}

.avatar__edit_show {
  visibility: visible;
}

.avatar__edit_show:hover {
  cursor: pointer;
}
