.profile-edit__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* max-width: 336px; */
  width: 100%;
}

@media screen and (max-width: 730px) {
  .profile-edit__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    width: 282px;
    text-align: center;
  }
}
